/* con el * accedemos a todo el contenido */
*{
    box-sizing: border-box; 
}
.box {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
}
.verde{
    background-color: green;
}
.blue{
    background-color: blue;
}
.colapso_arriba{
    margin-bottom: 80px;
}
.colapso-{
    margin-top: 50px;
}
.bajar{
    margin-bottom: -150px;
}